div{
    border:1px solid black;
    width:70%;
    margin:auto;
    margin-bottom: 1%;;
}
a{
    border: 1px solid darkblue;
    text-decoration: none;
    padding:10px;
    margin: 0px 10px;
}
a:link {
    color: darkblue;
  }
  
a:visited {
    color: darkblue;
  }
  
a:hover {
    color: darkblue;
  }
  
a:active {
    color: darkblue;
  }